@charset "ISO-8859-1";
#claimRequest{
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
}


td,th{
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0494aa;
  color: white;
}